.panel_title {
    font-family: helvetica neue, Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 1em;
}

.panel_content {
    margin: 0 0 1em !important
}

.panel_content pre {
    border: 1px solid #888;
    line-height: 1.25em;
    padding: .25em;
    margin: 0;
    background-color: #efefef;
}